body {
    background-color: #D9E4E2 !important;
    margin-top: 20px;
    font-family: "Playfair Display", serif !important;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
    padding: 5px;
    background: #43766C;
    color: #fff;
    margin-top: 15px;
    border: 0;
}

label.btn:hover {
    background: #43766c77;
    color: #000000;
}

.media-body .btn-default {
    padding: 5px;
    background: #43766C;
    color: #fff;
    margin-top: 15px;
}

.media-body .btn-default:hover {
    background: #43766c77;
    color: #000000;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.font-weight-bold {
    font-size: 40px;
    margin-top: 20px !important;
    color: #43766C;
    text-align: center;
    /* background: #D9E4E2; */
    margin-bottom: 20px;
}

.list-group {
    /* padding: 20px; */
    margin-left: 20px;
    margin-top: 20px;
    /* box-shadow: -3px 3px 3px 3px #00000047; */
}

.list-group a {
    background: #00000011;
    box-shadow: 0 -1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-right.mt-3 .btn-primary {
    background: #000000ce;
    color: #fff;
    border: 0;
}

.text-right.mt-3 .btn-primary:hover {
    background: white;
    color: #000;
}

.text-right.mt-3 .btn-default {
    background: #000000ce;
    color: #fff;
    border: 0;
}

.text-right.mt-3 .btn-default:hover {
    background: white;
    color: #000;
}

.item-back {
    margin-top: 50%;
    background: #fff !important;
    border: none !important;
    box-shadow: none !important;
    color: #000000ad !important;
    padding: 10px !important;
}

.item-back:hover {
    text-decoration: underline !important;
}