/* .left{
    width: 60%;
    border-color: black;
    border-style: solid;
    border-width: 10px;
}

.right{
    width: 40%; 
    border-color: red;
    border-style: solid;
    border-width: 10px;
} */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}
:root {
    --color-main : #43766C;
    --color-highlight: #D9D9D9;
    --color-text-1: #1e1e1e;
    --color-text-2: white;
    --bg-1: #D9E4E2;
    --bg-2: white; 

    --font: "Playfair Display", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
.dropdown__menu {
    background: #ffffff84;
    color: var(--color-main);
}


.left {

    width: 919px;
    height: 1024px;
    /* width: 100%;
    height: 100vh; */
    /* border-color: black;
    border-style: solid;
    border-width: 10px; */
    /* float: left; */
    /* margin-right: 100px; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.right {
    padding: 60px;
    /* margin-left: 30px; */
    width: 624px;
    height: 1024px;
    /* border-color: red;
    border-style: solid;
    border-width: 10px; */
    /* float: left; */
    border-radius: 0px 30px 30px 0px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
}


.title{
    text-align: center;
    font-size: 30px;
    color: black;

}

/* img {
    display: flex;
    width: 100%;
    height: 100vh;
} */

h1{
    text-align: center;
    font-size: 50px;
    color: black;
    padding: 20px;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800 */

body {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
}

.svg_size{
    height: 25px;
}

.bolder{
    font-weight: 500;
}

.under-logo{
    text-align: center;
    font-size: small;
    font-weight: 500;
    padding-top: 10px;
}

.sign-btn{
    background-color: #43766C;
    border-radius: 50px;
    width: 410px;
    height: 65px;
    font-weight: 500;
    font-size: larger;
    border: 0;
}

.co-tk{
    text-align: center;
    margin-top: 15px;
}

.sign-in{
    text-align: center;
    font-size:  20px;
    font-weight: 530;
    color: #43766C;
}

.sign-in a {
    color: var(--color-main);
}
/* .shadow {
    box-shadow: -3px 3px 5px 6px #ccc;
  } */

  .logo{
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
  }

.divide {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 30px 0px 0px 30px;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
}

.text-center .btn:hover {
    background-color: var(--bg-1);
    color: #000;
}
